.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.artistCard {
    display: flex;
    gap: 3rem;
    background: #eee;
    padding: .5em;
    width: 80%;
    margin: .5em 5rem;
    justify-content: flex-start;
}

.artistImage {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.img {    
    width: 100%;
}